.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Placeholder for main contents */
.main-content {
    width: 100%;
    margin: 20px 0;
    background-color: lightpink;
}