/* Main container for the scorebar */
.scorebar-container {
    width: 100%;
    height: clamp(67.5px, 6.3vw, 120px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* To restrict the scorebar in the middle 90% part of page width */
.scorebar {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Container for the box with select input */
.scorebar .pick-date {
    width: 10%;
    display: flex;
    border-style: none solid;
    border-color: #EEF2F0;
    border-width: 0.5rem;
    justify-content: center;
}

/* Customize the select input */
.scorebar select {
    height: fit-content;
    /*margin: 20% 0;*/
    align-self: center;
    padding: 6px;
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    border: none;
    background-color: #CCD0CF;
    border-radius: 8px;
    cursor: pointer;
}

/* Remove outline when it's focused */
.scorebar select:focus-visible {
    outline: none;
}

/* The wrap for all teamscore cards */
.teamscore-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Card for each teamscore */
.teamscore-card {
    width: 150px;
    height: 100%;
    padding: 0 1%;
    border-right: 2px solid #EEF2F0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #555A58;
    font-family: 'Arial', serif;
    font-size: clamp(0.625rem, 1vw, 1.25rem);
}

/* Small boxes inside the card */
.teamscore-card .tmscore-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Align items left in the left box */
.teamscore-card .tmscore-left {
    align-items: flex-start;
}

/* Align items right in the right box */
.teamscore-card .tmscore-right {
    align-items: flex-end;
}

/* Margin for the title */
.teamscore-card .tmscore-ttl {
    margin: 10% 0;
}

/* Bold style for the contents */
.teamscore-card .tmscore-cnt {
    font-weight: bold;
}

/* Color for 'Location' */
.teamscore-card .tmscore-loc {
    color: #999E9C;
}