body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    color: #555A58;
}

h2 {
    font-family: 'Arial', serif;
    font-size: clamp(1.25rem, 2vw, 2.5rem);
}

h3 {
    font-family: 'Arial', serif;
    font-size: clamp(1rem, 1.6vw, 2rem);
}

h4 {
    font-family: 'Arial', serif;
    font-size: clamp(0.75rem, 1.2vw, 1.5rem);
}

h5 {
    font-family: 'Arial', serif;
    font-size: clamp(0.625rem, 1vw, 1.25rem);
}

h6 {
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

p {
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

a {
    font-family: 'Arial', serif;
    font-size: clamp(0.75rem, 1.2vw, 1.5rem);
    text-decoration: none;
}
